body {
    background-color: #cdcdcd;
}

.counters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.counterButtons {
    margin: 20px 50px;
}

.btn {
    margin: 5px;
    width: 100px;
}

.reset {
    width: 50px;
    padding: 6px 6px;
}